/* Submit & Published */

.separator.extra-small
.form-row
  .field.col-medium-2-1
    .submit
      = form.button label, data: { disable_with: t("forms.disable_with") }, class: "button extra-large green wide"
  .field.col-medium-2-1
    .checkbox
      = form.check_box :published
      = form.label :published
