/* Header */

%header.universal.header
  .universal-box
    .universal-item
      - if user_signed_in?
        = render partial: "lib/components/navigation"
        = render partial: "lib/components/session"
