/* Notifications */

#clear-notifications.universal{ "data-controller": "notifications" }
  .universal-box
    .universal-item
      .notifications.toggle-notifications
        .notifications-box
          .notifications-item
            %p{ class: "text-center #{key}" }
              = key
              = value
            = link_to "[Close]", "#", class: "link-xxs"
