/* Notifications */

- if alert || notice
  .universal.notifications
    .universal-box
      .universal-item
        - if alert
          %p.alert.red-500-cl.text-center= alert
        - if notice
          %p.notice.green-500-cl.text-center= notice
