/* Notifications */

.universal
  .universal-box
    .universal-item
      .notifications{ "data-controller": "notifications" }
        .notifications-box
          .notifications-item
            %p{ class: "text-center #{key}" }
              = value
            = link_to "[Close]", "#", class: "link-xxs center-h hide-trigger"
