/* Notifications */

- if alert || notice
  .universal
    .universal-box
      .universal-item
        .notifications.toggle-notifications
          .notifications-box
            .notifications-item
              %p.text-center
                - if alert
                  = alert
                - elsif notice
                  = notice
              = link_to "Close", "#", class: "altai-off link underline small green-dark altai-center toggle-notifications-btn"
