/* Forefront */

.forefront
  .forefront-box
    .forefront-block
      .forefront-top
        %h2.lighter.text-center
          Publications
        .forefront-menu.altai-center
          .forefront-menu-box
            .forefront-menu-block
              = link_to "All", publications_path, class: "link extra-small underline"
            .forefront-menu-block
              = link_to "Published", publications_path, class: "link extra-small underline"
            .forefront-menu-block
              = link_to "Unpublished", publications_path, class: "link extra-small underline"
      .forefront-middle
        %p.small.text-center
          Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      .forefront-bottom
        = link_to "Create a New Publication", new_publication_path, class: "button altai-center"
