/* Index */

.container-top
  = breadcrumbs(root_path)
.container-middle
  .artboard-medium.center-h
    = render partial: "forefront"
    - if @publications.presence
      .publication
        .publication-box.sortable{ "data-url": sortable_publications_path }
          = render partial: "publication", collection: @publications
.container-bottom
