/* Index */

.container-top
  = breadcrumbs(root_path)
.container-middle
  .artboard-medium.center-h
    = render partial: "forefront"
    - if @publications.presence
      .publication
        .sortable.publication-box{ "data-url": sortable_publications_path }
          - @publications.each do |publication|
            = render "publication", publication: publication
.container-bottom
