/* Index */

.container-top
  = breadcrumbs(root_path)
  .primary-actions
    .primary-actions-box
      .primary-actions-item
        = link_to "New Publication", new_publication_path, class: "button extra-large purple"
.container-middle
  .board-medium.altai-center
    .content
      .content-box
        .content-item
          %h3.lighter Publications
    .publication
      .publication-box.sortable{ "data-url": sortable_publications_path }
        = render partial: "publication", collection: @publications
.container-bottom
