/* Edit */

.container-top
  = breadcrumbs(journal_article_path(@journal, @article))
.container-middle.center-h
  .board-medium
    = render "form", parent: @journal, object: @article
.container-bottom
