/* Edit */

.container-top
  = breadcrumbs(publication_article_path(@publication, @article))
.container-middle.center-h
  .board-medium
    = render "form", parent: @publication, object: @article
.container-bottom
