/* New */

.container-top
  = breadcrumbs(publication_articles_path(@publication))
.container-middle.altai-center
  .board-medium
    = render "form", parent: @publication, object: @article
.container-bottom
