/* Show */

.container-top
  = breadcrumbs(journal_article_path(@journal, @article))
.container-middle.center-h
  .board-large.center-h
    .content
      .content-box
        .content-item
          %h1= @article.title
        .separator.small
    .preview
      .preview-box.sortable
        - @agents.each do |agent|
          = render_preview_agent(@article, agent)
.container-bottom
