/* Show */

.container-top
  .wrap.wide
    = breadcrumbs(journal_section_path(@section.journal.slug, @section))
.container-middle.center-h
  .board-medium
    - if params[:main] == "true"
      = render "form", parent: @journal, object: @section
    - else
      = render "form", parent: @journal, object: @section
.container-bottom
