/* Show */

.container-top
  .wrap.wide
    = breadcrumbs(publication_section_path(@section.publication.slug, @section))
.container-middle.altai-center
  .board-medium
    - if params[:main] == "true"
      = render "form", parent: @publication, object: @section
    - else
      = render "form", parent: @publication, object: @section
.container-bottom
