/* Edit */

.container-top
  = breadcrumbs(publication_sections_path(@section.publication.slug))
.container-middle.altai-center
  .board-medium
    = render "form", parent: @publication, object: @section
.container-bottom
