/* Blankslate */

.blankslate.white-bg
  .blankslate-box
    .blankslate-item
      %h3.text-center Empty List
      %p.text-center There are no Items to display.
      %p.text-center.small You can add by clicking the links to the left.
