/* Danger zone */

.separator.large
.danger-zone.white-bg
  .danger-zone-box
    .danger-zone-item
      %h3.text-center Danger Zone
      %p.text-center Once deleted, it will be gone forever. Please be certain.
      .separator.double-extra-small
      = link_to path, method: :delete, data: { confirm: "Are you sure?" }, class: "button large red altai-center" do
        Destroy this #{label}
