/* Danger zone */

.separator-m
.danger-zone.white-bg
  .danger-zone-box
    .danger-zone-block
      %h3.text-center.red-700-cl Danger Zone
      %p.text-center.red-500-cl Once deleted, it will be gone forever. Please be certain.
      .separator-xxs
      = link_to path, method: :delete, data: { confirm: "Are you sure?" }, class: "button-l red center-h" do
        Destroy this #{label}
