/* Edit */

.container-top
  = breadcrumbs(render_parent_url(@parent))
.container-middle.altai-center
  .board-medium
    = render partial: "form", locals: { parent: @parent, picture: @picture }
.container-bottom
