/* Blankslate */

.blankslate
  .blankslate-box
    .blankslate-block
      %h3.font-l.blue-500-cl.text-center Ohhh... no! You have an empty box!
      %p.font-m.text-center
        Get started by creating your first journal. Hit the "create" button and follow instructions. It's easy! :)
