/* Show */

.container-top
  = breadcrumbs(preview_journal_path(@journal))
.container-middle
  .board-large.center-h
    .content
      .content-box
        .content-item
          %h1= @journal.title
        .separator.small
    .toc-navigation
      .toc-navigation-box
        - @articles.each do |article|
          .toc-navigation-item
            = link_to article.title, preview_journal_path(@journal, anchor: "#{article.slug}"), class: "link small blue wide"
.container-bottom
