/* Picture */

- if picture.presence
  .separator.extra-small
  .preview-item
    .preview-middle
      %figure.left.altai-center
        = image_tag picture.upload.representation(resize_to_limit: [ 960, 540 ])
  .separator.extra-small
