/* Application */

!!!
%html{ lang: "en-GB", prefix: "og: http://ogp.me/ns#" }
  = render partial: "lib/global/head"
  %body{ "data-controller": "application" }
    = render partial: "lib/global/main"
